body{
    background-color: black;
    color: white;
}
table{
    border: white 2px solid;
}
td{
    border: white 2px solid; 
}
div#div_table{
    width: 90%;
}
a{
    text-decoration: none;
    color: white;;
}
a:visited{
    color: greenyellow;
}
